.button, .card__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 20px 5px;
	color: $white;
	font-family: $ff;
	font-size: 15px;
	font-style: normal;
	font-weight: $fw-bold;
	line-height: 15px;
	border: 1px solid $accent;
	background-color: transparent;
	cursor: pointer;
	transition: background-color ease $tr;

	&:hover {
		background-color: $accent;
	}

	&.header__button {
		max-width: 126px;
	}

	&.hero_button {
		max-width: 237px;
		padding: 29px 5px;
		font-size: 18px;

		@media all and (min-width: $lg) {
			font-size: 18px;
		}
	}

	&.blue {
		background-color: $accent;
		transition: opacity ease $tr;
		width: 100%;
		max-width: 138px;
		padding: 20px 5px;
		font-size: 12px;

		&:hover {
			opacity: $op;
		}

		@media all and (min-width: $lg) {
			max-width: 237px;
			padding: 30px 5px;
			font-size: 18px;
		}
	}
}

.card__button {
	color: $white;
	font-family: $ff;
	font-size: 15px;
	font-style: normal;
	font-weight: $fw-bold;
	line-height: 15px;
	letter-spacing: -0.075px;
	text-transform: capitalize; 
	border-style: none;
	background-color: $accent;
	border-radius: $bord-10;
	margin-top: 24px;
	transition: opacity ease $tr;
	padding: 12px 0;

	&:hover {
		opacity: $op;
	}
}