.button,
.card__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 20px 5px;
	color: $white;
	font-family: $ff;
	font-size: 15px;
	font-style: normal;
	font-weight: $fw-bold;
	line-height: 15px;
	border: 1px solid $accent;
	background-color: transparent;
	cursor: pointer;
	transition: background-color ease $tr;

	&:hover {
		background-color: $accent;
	}

	&.header__button {
		max-width: 126px;
	}

	&.hero_button {
		max-width: 237px;
		padding: 29px 5px;
		font-size: 18px;

		@media all and (min-width: $lg) {
			font-size: 18px;
		}
	}

	&.blue {
		background-color: $accent;
		transition: opacity ease $tr;
		width: 100%;
		max-width: 138px;
		padding: 20px 5px;
		font-size: 12px;

		&:hover {
			opacity: $op;
		}

		@media all and (min-width: $lg) {
			max-width: 237px;
			padding: 30px 5px;
			font-size: 18px;
		}

		&.border {
			border-radius: $bord-10;
		}
	}

	&.transparent {
		color: $white;
		font-family: $ff;
		font-size: 12px;
		font-style: normal;
		font-weight: $fw-bold;
		line-height: normal;
		max-width: 137px;
		border: 0;
		padding: 0;
		display: flex;
		align-items: center;
		transition: opacity ease $tr;

		@media all and (min-width: $lg) {}

		.button__heart {
			margin-right: 10px;
		}

		.heart, .heart-fill {
			width: 18px;
			height: 18px;

			@media all and (min-width: $lg) {
				width: 22px;
				height: 22px;
			}
		}

		.heart-fill {
			display: none;
		}

		&:hover {
			opacity: $op;
			background-color: transparent;
		}
	}

	& .selected {
		.heart {
			display: none;
		}

		.heart-fill {
			display: block;
		}
	}
}

.card__button {
	color: $white;
	font-family: $ff;
	font-size: 12px;
	font-style: normal;
	font-weight: $fw-bold;
	line-height: 15px;
	letter-spacing: -0.075px;
	text-transform: capitalize;
	border-style: none;
	background-color: $accent;
	border-radius: 5px;
	margin-top: 10px;
	transition: opacity ease $tr;
	padding: 4px 0;

	@media all and (min-width: $lg) {
		font-size: 15px;
		padding: 12px 0;
		margin-top: auto;
		border-radius: $bord-10;
	}

	&:hover {
		opacity: $op;
	}
}

.auc__button {
	color: $white;
	font-family: $ff;
	font-size: 12px;
	font-style: normal;
	font-weight: $fw-black;
	line-height: normal; 
	border: 0;
	border-radius: 50%;
	border-style: none;
	background-color: $green;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 44%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	transition: opacity ease $tr;

	&:hover {
		opacity: $op;
	}

	span {
		font-family: $ff-add;
	}
}