//Text default styles
.section__text {
	color: $white;
	font-family: $ff;
	font-size: 18px;
	font-style: normal;
	font-weight: $fw-regular;
	line-height: normal;
	text-align: center;

	@media all and (min-width: $lg) {
		font-size: 40px;
		text-align: left;
	}
}

.section__subtext {
	color: $white;
	font-family: $ff;
	font-size: 12px;
	font-style: normal;
	font-weight: $fw-regular;
	line-height: normal;
	text-align: center;

	@media all and (min-width: $lg) {
		font-size: 24px;
		text-align: left;
	}

	strong {
		font-weight: $fw-regular;
	}
}

//Green boarder
.green__boarder {
	padding: 10px 15px;
	border: 1px solid $green;
}

//card
.card {
	width: 202px;
	height: 363px;
	padding: 12px 15px 12px 15px;
	background: $card-bg;
	border-radius: $bord-20;
	box-shadow: $card-bs;

	@media all and (min-width: $lg) {
		width: 322px;
		height: 580px;
	}

	@media all and (min-width: $lg) {
		padding: 25px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		height: 100%;
	}

	&__heart {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 23px;

		.heart,
		.heart-fill {
			width: 22px;
			height: 22px;
			cursor: pointer;
			transition: scale ease $tr;

			@media all and (min-width: $lg) {
				width: 35px;
				height: 35px;
			}

			&:hover {
				scale: 1.05;
			}
		}

		.heart-fill {
			display: none;
		}

		&.selected {
			.heart {
				display: none;
			}

			.heart-fill {
				display: block;
			}
		}
	}

	&__img {
		height: 176px;
		position: relative;
		margin-bottom: 5px;

		@media all and (min-width: $lg) {
			margin-bottom: 60px;
		}
	}

	&__token {
		width: 55px;
		display: flex;
		justify-content: space-between;
		padding: 3px;
		background: rgba(48, 82, 255, 0.50);
		border-radius: 5px;

		@media all and (min-width: $lg) {
			width: 72px;
			padding: 5px;
		}

		&_price {
			color: $white;
			font-family: $ff-add;
			font-size: 12px;
			font-style: normal;
			font-weight: $fw-extra;
			line-height: normal;

			@media all and (min-width: $lg) {
				font-size: 15px;
			}
		}

		img {
			width: 17px;
			height: 17px;

			@media all and (min-width: $lg) {
				width: 21px;
				height: 21px;
			}
		}
	}

	&__info {
		&_top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: auto;
		}

		&_goods {
			color: $white;
			font-family: $ff;
			font-size: 15px;
			font-style: normal;
			font-weight: $fw-black;
			line-height: 15px;
			letter-spacing: 0.9px;
			text-transform: uppercase;
			margin-top: 20px;

			@media all and (min-width: $lg) {
				font-size: 18px;
				margin-top: 30px;
			}
		}

		&_group {
			color: $white;
			font-family: $ff;
			font-size: 8px;
			font-style: normal;
			font-weight: $fw-light;
			line-height: normal;
			text-decoration-line: underline;
			margin-top: 5px;

			@media all and (min-width: $lg) {
				font-size: 10px;
			}
		}

		&_price {
			color: $white;
			font-family: $ff;
			font-size: 12px;
			font-style: normal;
			font-weight: $fw-black;
			line-height: 15px;
			letter-spacing: 0.9px;
			text-transform: uppercase;

			@media all and (min-width: $lg) {
				font-size: 18px;
			}
		}
	}

	&__auction {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;

		@media all and (min-width: $lg) {
			margin-top: 30px;
		}
	}

	&__auction_begin,
	&__auction_date,
	&__place,
	.places__num_text {
		color: $card;
		font-family: $ff;
		font-size: 10px;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.675px;

		@media all and (min-width: $lg) {
			font-size: 15px;
		}
	}

	&__auction_begin,
	&__place {
		font-weight: $fw-regular;
	}

	&__auction_begin {
		position: relative;

		.point {
			display: block;
			position: absolute;
			right: -113px;
			top: 50%;
			transform: translateY(-50%);

			@media all and (min-width: $lg) {
				left: -24px;
				top: 50%;
			}
		}
	}

	&__place {
		margin-right: 5px;
	}

	.auction_date,
	.places__num_text {
		font-weight: $fw-bold;
	}

	&__progress {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 10px;

		&_bar {
			height: 6px;
		}
	}

	&__places {
		width: 100px;
		display: flex;
		align-items: center;
	}

	&-pagination {
		width: 100px;
		display: flex;
		justify-content: center;
		position: relative;

		.swiper-pagination-bullet {
			background: $white;
			opacity: 1;
			width: 3px;
			height: 3px;

			&-active {
				background: #556BDC;
			}

			@media all and (min-width: $lg) {
				width: 6px;
				height: 6px;
			}
		}
	}

	.swiper-slide {
		height: 130px;

		@media all and (min-width: $lg) {
			height: 205px;
		}

	}
}

.point {
	display: none;
}

.btn-reverse {
	transform: rotate(180deg);
}

.highlight {
	display: none;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	transition: opacity ease $tr,
				visibility ease $tr;

	&_link {
		display: block;
		width: 15px;
		height: 15px;
		margin-bottom: 38px;
		background: linear-gradient(180deg, #569AFF 0%, #503AD9 56.25%, #3B27B7 100%);
		box-shadow: 0px 3px 25px 0px #6249FF;
		transform: rotate(45deg);
		transition: scale ease 0.5s;

		&.active {
			scale: 1.5;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.scrolled {
		opacity: 1;
		visibility: visible;
	}

	@media all and (min-width: $xl) {
		display: block;
		left: 1%;
	}

	@media all and (min-width: $xxl) {
		left: 7%;
	}
}


.auc__menu {
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 70;
	width: 312px;

	@media all and (min-width: $xl) {
		width: auto;
		transform: translateX(0);
		top: 160;
		left: 80px;
		display: block;
	}

	.auc__menu_arrow {
		display: block;
		cursor: pointer;
		transition: opacity ease $tr;
		margin-left: 17px;

		&:hover {
			opacity: $op;
		}

		@media all and (min-width: $xl) {
			display: none;
		}
	}

	.auc__nav {
		display: none;

		@media all and (min-width: $xl) {
			display: flex;
		}
	}

	.auc__nav_item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $white;
		font-family: $ff;
		font-size: 15px;
		font-style: normal;
		font-weight: $fw-black;
		line-height: 15px;
		width: 220px;
		margin-bottom: 25px;
		cursor: pointer;

		picture {
			margin-left: auto;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&.opened {
			position: relative;
			z-index: 90;

			.hexagons {
				display: block;
				backdrop-filter: blur(2.5px);

			}
		}
	}

	.auc__menu_input {
		display: flex;
		align-items: center;
		position: relative;
		width: 312px;
		margin: 0 auto 40px auto;

		@media all and (min-width: $xl) {
			width: 220px;
		}

		&::after {
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			position: absolute;
			right: 55px;
			top: 50%;
			transform: translateY(-50%);
			background-image: url('../img/active-auc/loup.svg');
			background-repeat: no-repeat;
			background-size: contain;
			cursor: pointer;
		}
	}
}

.hexagons {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 0;
	height: 0;
	z-index: -1;

	.nav__menu_item {
		position: absolute;
		left: 0;
		top: 0;
		width: 70px;
		height: 70px;
		z-index: 90;
		cursor: pointer;
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}
		
		&:first-child {
			position: absolute;
			top: 25px;
			left: 133px;
		}

		&:nth-child(2) {
			position: absolute;
			top: 25px;
			left: 196px;
		}

		&:nth-child(3) {
			position: absolute;
			top: 80px;
			left: 102px;
		}

		&:nth-child(4) {
			position: absolute;
			top: 80px;
			left: 164px;
		}

		&:nth-child(5) {
			position: absolute;
			top: 80px;
			left: 227px;
		}

		&:nth-child(6) {
			position: absolute;
			top: 136px;
			left: 70px;
		}

		&:nth-child(7) {
			position: absolute;
			top: 136px;
			left: 133px;
		}

		&:nth-child(8) {
			position: absolute;
			top: 136px;
			left: 195px;
		}

		&:last-child {
			position: absolute;
			top: 136px;
			left: 258px;
		}
	}
}