h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0;
}

h1,
.h1 {
	font-size: 30px;
	color: $white;

	@media all and (min-width: $lg) {
		font-family: $ff;
		font-size: 64px;
		font-style: normal;
		font-weight: $fw-extra;
		line-height: normal;
	}
}

h2,
.h2 {
	font-size: 30px;
	color: $white;
	font-family: $ff;
	text-align: center;
	font-style: normal;
	font-weight: $fw-black;
	line-height: normal;

	@media all and (min-width: $lg) {
		font-size: 45px;
		text-align: left;
	}
}

h3,
.h3 {
	font-size: 30px
}

h4,
.h4 {
	font-size: $fs-xl;

	@media all and (min-width: $lg) {
		font-size: 24px
	}
}

a {
	display: inline-block;
	text-decoration: none;
	transition: color ease-out $tr;
	color: $white;
	transition: color ease $tr;

	&:hover {
		color: $accent;
	}
}

p {
	color: $white;
	margin: 0;
}

b,
strong {
	color: $accent;
	font-weight: $fw-bold;
}