.active-lot {
	padding: 27px 0;

	.container {
		max-width: 1340px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		border-radius: 10px;
		background: linear-gradient(90deg, rgba(48, 82, 255, 0.00) 0%, rgba(48, 82, 255, 0.20) 100%);
		border: 1px solid $accent;
		padding: 25px 70px 25px 110px;
	}

	&__info {
		width: 100%;
		max-width: 504px;
		margin-right: 82px;

		&_title {
			color: #FFF;
			font-family: $ff;
			font-size: 18px;
			font-style: normal;
			font-weight: $fw-black;
			line-height: normal;
			letter-spacing: 0.9px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		&_deposit {
			color: #E1E1E1;
			font-family: $ff;
			font-size: 15px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: 25px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			span {
				font-family: $ff-add;
				font-weight: $fw-extra;
			}
		}
	}

	&__img {
		margin-right: 80px;

		img {
			max-width: 230px;
			max-height: 330px;
			object-fit: cover;
		}
	}

	&__timer {
		&_wrapper {
			position: relative;

			.timer-img, .timer {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}

			.timer {
				position: absolute;
				left: 50%;
				top: 65%;
				transform: translateX(-50%);
				color: $white;
				font-family: $ff;
				font-size: 15px;
				font-style: normal;
				font-weight: $fw-black;
				line-height: normal;
			}
		}
	}

	.mobile__timer {
		display: none;
	}

	.blue {
		margin-top: 71px;
		padding: 20px 0;
		max-width: 100%;
	}
}