.auc-hero {
	padding: 55px 0;

	@media all and (min-width: $lg) {
		padding: 70px 0;
	}

	h1 {
		color: $white;
		font-family: $ff;
		font-size: 18px;
		font-style: normal;
		font-weight: $fw-black;
		line-height: normal;
		margin-bottom: 38px;
		text-align: center;

		@media all and (min-width: $lg) {
			font-size: 30px;
			text-align: left;
			margin-bottom: 31px;
		}
	}

	&__text, &__title {
		color: $white;
		font-family: $ff;
		font-size: 20px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal; 
	}

	&__title {
		font-size: 18px;
		margin-bottom: 30px;

		@media all and (min-width: $lg) {
			font-size: 30px;
		}
	}

	&__text {
		margin-top: 54px;
		max-width: 1240px;
		font-size: 12px;

		@media all and (min-width: $lg) {
			font-size: 20px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	&__img {
		display: flex;
		justify-content: center;
		margin-bottom: 57px;

		@media all and (min-width: $lg) {
			width: 46%;
			padding-left: 4%;
			justify-content: flex-start;
			margin-bottom: 0;
		}

		img {
			max-width: 270px;

			@media all and (min-width: $lg) {
				max-width: 510px;
			}
		}
	}

	&__info {
		width: 100%;
		display: flex;
		justify-content: center;

		@media all and (min-width: $lg) {
			width: 54%;
			justify-content: flex-start;
		}

		&_item {
			width: 100%;
		}

		.hero__info_inner {
			padding: 30px 10px;
			border-radius: $bord-10;
			background: rgba(0, 0, 0, 0.50);

			@media all and (min-width: $lg) {
				padding: 20px 30px 50px 30px;
			}
		}
	}

	&__inner {
		background-color: $white;
	}

	&__row {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	&__col {
		width: 50%;
		display: flex;
		align-items: center;
		color: #E1E1E1;
		font-family: $ff;
		font-size: 12px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: normal;
		white-space: nowrap;

		@media all and (min-width: $lg) {
			font-size: 15px;
			line-height: 25px;
		}
	
		
		&:last-child {
			justify-content: flex-end;
		}
	}

	.auc-hero__buttons {
		margin-top: 25px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media all and (min-width: $lg) {
			margin-top: 30px;
		}

		.blue {
			margin-right: 45px;
		}
	}

	.click-value, .auc-hero_value,
	.date, .time {
		font-weight: $fw-extra;
	}

	.button__heart {
		&.selected {
			.heart {
				display: none;
			}

			.heart-fill {
				display: block;
			}
		}
	}
}