.active-auctions {
	padding: 50px 0;

	@media all and (min-width: $lg) {
		padding: 115px 0 160px;
	}

	h2 {
		margin-bottom: 50px;

		@media all and (min-width: $lg) {
			margin-bottom: 25px;
		}
	}

	.active-auction__items {
		overflow: hidden;
		width: calc(100vw - (100vw - 1300px) / 2);
	}

	.active-auc {
		width: 100%;
		overflow: visible;
	}
	
	.active-auc-slide {
		max-width: 202px;
		display: flex;
		justify-content: flex-start;

		@media all and (min-width: $lg) {
			max-width: 322px;
		}

		.card {
			.point {
				display: none;
			}
		}
	}

	.active-auc-ui {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 67px;
		padding-right: 19%;
	}

	.active-auc-pagination .swiper-pagination-bullet {
		background-color: transparent;
		width: 70px;
		height: 70px;
		font-family: $ff;
		color: $white;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 70px;
			height: 70px;
			display: block;
			background-image: url('../img/card/hex.svg');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	.auc__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 30px;
	}

	.auc__pag {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 70px;
		height: 70px;
		position: relative;
		cursor: pointer;
		transition: scale ease $tr;
		margin-right: 50px;

		&:last-child {
			margin-right: 0;
		}

		&:nth-child(-n + 4):hover {
			svg path {
				stroke: $white;
			}
			scale: 1.05;
		}

		&::before {
			content: "";
			position: absolute;
			width: 70px;
			height: 70px;
			display: block;
			background-image: url('../img/card/hex.svg');
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&.locked {
			img {
				width: 70px;
				height: 70px;
			}

			&::before {
				display: none;
			}
		}

		&_img {
			margin-top: 10px;
		}

		&_title {
			color: $white;
			font-family: $ff;
			font-size: 8px;
			font-style: normal;
			font-weight: $fw-black;
			line-height: 15px;
			text-transform: capitalize;
			position: absolute;
			left: 50%;
			bottom: 13px;
			transform: translateX(-50%);
		}
	}
}

.active-auction-pagination {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	padding: 40px 0;
	max-width: 800px;

	@media all and (min-width: 615px) {
		justify-content: center;
	}

	@media all and (min-width: $lg) {
		padding: 50px 0 0 0;
		justify-content: space-between;
	}

	svg path {
		transition: all ease $tr;
	}

	.active-prev, .active-next {
		position: relative;
		cursor: pointer;
		width: 50px;
		height: 50px;
		display: none;

		@media all and (min-width: $lg) {
			display: block;
		}

		&:hover {
			.hex {
				path {
					fill: $accent;
				}
			}

			.active-arr {
				path {
					stroke: $white;
				}
			}
		}
	}

	.active-prev {
		transform: rotate(180deg);
	}

	.active-next {
		transform: translate(0);
	}

	.active-arr {
		width: 15px;
		height: 15px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		path {
			stroke: $accent
		}
	}

	.active-pagination {
		display: flex;
		align-items: center;

		&__item {
			position: relative;
			cursor: pointer;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				.pag-img {
					width: 77px;
					height: 77px;
					top: -60%;

					path {
						fill: $white;
					}
				}

				.hex-pag {
					scale: 1.2;

					path {
						fill: $accent;
					}
				}

				.active-pagination__text {
					font-size: 12px;
				}
			}
		}

		&__text {
			color: $white;
			font-family: $ff;
			font-size: 8px;
			font-style: normal;
			font-weight: $fw-black;
			line-height: 15px;
			text-transform: capitalize;
			position: absolute;
			bottom: 25%;
			left: 50%;
			transform: translateX(-50%); 
		}
	}

	.hex-pag {
		cursor: pointer;
		width: 70px;
		height: 70px;
		transition: all ease $tr;
	}

	.pag-img {
		width: 25px;
		height: 25px;
		position: absolute;
		left: 50%;
		top: 10%;
		transform: translateX(-50%);
		transition: all ease $tr;

		path {
			fill: $accent;
		}
	}
}