.header {
	width: 100%;
	padding: 14px 0;
	background-color: $black;
	background: $header-bg;
	box-shadow: $header-bs;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition:
		box-shadow ease $tr,
		padding ease $tr,
		background ease $tr;

		&.scrolled {
			padding: 5px 0;
			background: $black;
		}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		@media all and (min-width: $lg) {
			justify-content: flex-start;
		}
	}

	&__logo {
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}

		@media all and (min-width: $lg) {
			margin-right: auto;
		}
	}

	&__menu {
		display: none;

		@media all and (min-width: $lg) {
			display: flex;
		}

		&_item {
			margin-right: 40px;

			&:last-child {
				margin-right: 0;
			}
		}

		&_link {
			color: $white;
			font-family: $ff;
			font-size: 15px;
			font-style: normal;
			font-weight: $fw-bold;
			line-height: 15px; 
		}
	}

	.button {
		margin-left: 34px;
		display: none;

		@media all and (min-width: $lg) {
			display: block;
		}
	}
}