.header-auc {
	padding: 12px 0;

	.container {
		max-width: 1800px;
	}

	.header__logo {

		@media all and (min-width: $lg) {
			margin-right: 100px;
		}
	}

	&__menu {
		display: flex;

		&_link {
			color: $white;
			font-family: $ff;
			font-size: 18px;
			font-style: normal;
			font-weight: $fw-regular;
			line-height: normal;
			margin-right: 40px;
			position: relative;

			&:last-child {
				margin-right: 0;
			}

			.lots_value {
				width: 18px;
				height: 18px;
				color: $black;
				font-family: $ff;
				font-size: 13px;
				font-style: normal;
				font-weight: $fw-bold;
				line-height: normal;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				background-color: #3F0;
				position: absolute;
				right: -13px;
				top: -10px;
			}
		}
	}

	.header__acc {
		display: none;
		align-items: center;
		margin-left: auto;
		padding-right: 40px;

		@media all and (min-width: $lg) {
			display: flex;
		}

		&_img {
			width: 60px;
			height: 60px;
			margin-right: 10px;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&_name {
			color: $white;
			font-family: $ff;
			font-size: 15px;
			font-style: normal;
			font-weight: $fw-bold;
			line-height: normal;
			cursor: pointer;
			transition: opacity ease $tr;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				right: -10px;
				top: 40%;
				transform: translateY(-50%) rotate(135deg);
				display: block;
				width: 6px;
				height: 6px;
				border-right: 2px solid$white;
				border-top: 2px solid$white;
			}

			&:hover {
				opacity: $op;
			}
		}

		&_value {
			color: $white;
			font-family: $ff-add;
			font-size: 10px;
			font-style: normal;
			font-weight: $fw-extra;
			line-height: normal;
			margin-left: 5px;
		}

		&_add_wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 10px;
			height: 10px;
			margin-left: 5px;
			cursor: pointer;
			transition: transform ease $tr;

			&:hover {
				transform: rotate(360deg);
			}
		}

		&_add,
		&_add span {
			display: block;
			width: 1px;
			height: 9px;
			background-color: $white;

			span {
				transform: rotate(90deg);
			}
		}

		&_tokens {
			display: flex;
			align-items: center;
		}
	}
}