.footer {
	padding: 40px 0 25px;
	background: rgba(0, 0, 0, 0.25);
	box-shadow: 0px -4px 20px 0px rgba(48, 82, 255, 0.10);

	&__wrapper {
		width: 100%;
		display: flex;
	}

	&__logo {
		margin-right: 18.5%;
		transition: opacity ease $tr;

		&:hover {
			opacity: $op;
		}
	}

	&__nav {
		width: 58%;
	}

	&__row {
		display: flex;
	}

	&__col, &__contacts_title {
		color: $white;
		font-family: $ff;
		font-size: 15px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 15px;
	}

	&__col {
		width: 50%;
		margin-bottom: 10px;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		margin-left: auto;

		&_links {
			display: flex;
			align-items: center;
		}

		&_link {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}

		&_title {
			margin-bottom: 10px;
		}
	}

	&__rights_wrapper {
		display: flex;
		justify-content: center;
		margin: 35px 0 25px;
	}
}