.footer {
	padding: 40px 0 25px;
	background: rgba(0, 0, 0, 0.25);
	box-shadow: 0px -4px 20px 0px rgba(48, 82, 255, 0.10);

	&__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&__logo {
		margin-bottom: 30px;
		transition: opacity ease $tr;
		margin: 0 auto 30px auto;

		@media all and (min-width: $md) {
			margin-right: 10%;
		}

		@media all and (min-width: $lg) {
			margin-right: 18.5%;
		}

		&:hover {
			opacity: $op;
		}
	}

	&__nav {
		width: 100%;

		@media all and (min-width: $md) {
			width: 58%;
		}
	}

	&__row {
		display: flex;
		flex-direction: column;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&__col, &__contacts_title {
		color: $white;
		font-family: $ff;
		font-size: 15px;
		font-style: normal;
		font-weight: $fw-regular;
		line-height: 15px;
	}

	&__col {
		width: 100%;
		margin-bottom: 10px;

		@media all and (min-width: $md) {
			width: 50%;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		margin-top: 30px;

		@media all and (min-width: $md) {
			margin-left: auto;
			margin-top: 0;
		}

		&_links {
			display: flex;
			align-items: center;
		}

		&_link {
			margin-right: 20px;
			
			svg path {
				transition: stroke ease $tr;
			}

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				svg path {
					stroke: $accent;
				}
			}
		}

		&_title {
			margin-bottom: 10px;
		}
	}

	&__rights_wrapper {
		display: flex;
		justify-content: center;
		margin: 35px 0 25px;
	}

	.empty {
		margin-bottom: 0;
	}
}